@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard_ExtraBold";
  src: url("@fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard_Bold";
  src: url("@fonts/Pretendard-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard_SemiBold";
  src: url("@fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard_Medium";
  src: url("@fonts/Pretendard-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard_Regular";
  src: url("@fonts/Pretendard-Regular.woff2") format("woff2");
  font-display: swap;
}

@layer base {
  body {
    @apply m-0 min-w-[100%] h-[100vh];
  }

  p {
    @apply font-PTD_Regular truncate transition-all;
  }

  pre {
    @apply font-PTD_Regular text-base isMobile:text-sm transition-all text-ellipsis text-wrap overflow-hidden whitespace-pre-wrap;
  }

  strong {
    @apply font-PTD_Bold text-sm transition-all;
  }

  h1 {
    @apply text-4xl isMobile:text-3xl font-PTD_ExtraBold transition-all;
  }
  h2 {
    @apply text-3xl isMobile:text-2xl font-PTD_ExtraBold transition-all;
  }
  h3 {
    @apply text-2xl isMobile:text-lg font-PTD_Bold transition-all;
  }
  h4 {
    @apply text-xl isMobile:text-base font-PTD_Semibold transition-all;
  }
  h5 {
    @apply text-base isMobile:text-sm font-PTD_Medium transition-all;
  }
  h6 {
    @apply text-sm isMobile:text-xs font-PTD_Regular transition-all;
  }

  table {
    @apply w-[100%] border-y-[1px];
  }

  tr {
    @apply w-[100%];
  }

  th {
    @apply h-[48px] py-2 pl-4 isMobile:pl-2 border-b-[1px] text-start bg-gray-50 overflow-hidden;
    @apply font-PTD_Semibold text-[14px] isTablet:text-[13px] isMobile:text-[12px];
    @apply truncate;
  }

  td {
    @apply h-[48px] py-2 pl-4 isMobile:pl-2 border-b-[1px];
    @apply font-PTD_Medium text-[14px] isTablet:text-[13px] isMobile:text-[12px];
    @apply truncate;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    @apply truncate;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    @apply truncate;
  }

  li {
    display: list-item;
    text-align: --webkit-match-parent;
    @apply truncate;
  }

  input {
    @apply border-[1px] px-2 rounded-md outline-blue-400 bg-gray-50 transition-all;
    @apply font-PTD_Regular text-[14px] isMobile:text-[12px];
  }

  select {
    @apply border-[1px] px-2 rounded-md outline-blue-400 bg-gray-50 transition-all;
    @apply font-PTD_Regular text-[14px] isMobile:text-[12px];
  }

  option {
    @apply bg-gray-200 font-PTD_Regular text-[14px] isMobile:text-[12px];
  }

  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label {
    cursor: pointer;
  }
  input[type="checkbox"] + label > span {
    vertical-align: middle;
    padding-left: 5px;
  }
  input[type="checkbox"] + label:before {
    @apply w-[20px] h-[20px] isMobile:w-[18px] isMobile:h-[18px];
    content: "";
    display: inline-block;
    border: 1px solid #b8b8b8;
    border-radius: 5px 5px 5px 5px;
  }
  input[type="checkbox"]:checked + label:before {
    @apply w-[20px] h-[20px] isMobile:w-[18px] isMobile:h-[18px];
    content: "";
    display: inline-block;
    background-color: #4274ff;
    background-image: url("@images/check.png");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 50%;
    border: 2px solid #4274ff;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
  }
  input[type="checkbox"]:hover + label:before {
    border: 2px solid #094afc;
  }
  input[type="radio"] {
    content: "";
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Images Control */
  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 12px 12px 12px 12px;
    visibility: hidden;
    -webkit-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -ms-border-radius: 12px 12px 12px 12px;
    -o-border-radius: 12px 12px 12px 12px;
  }
  ::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 12px 12px 12px 12px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #222222;
  }
}

@layer utilities {
  .SuspenseProgress {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    transition: all;
  }

  #swiper-default {
    display: flex;
    flex: 1;
    --swiper-navigation-size: 32px;
    white-space: nowrap;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    @apply flex-1;
    justify-content: center;
    align-items: center;
  }

  .recharts-tooltip-wrapper:focus-visible {
    outline: none;
  }

  .recharts-layer:focus-visible {
    outline: none;
  }

  .ag-theme-alpine {
    --ag-header-column-separator-display: block;
    --ag-header-column-separator-height: 100%;
    --ag-header-column-separator-width: 1px;
    --ag-header-column-separator-color: #d1d1d1;
    --ag-header-column-resize-handle-display: none;
    /* disable all borders */
    /* --ag-borders: none; */
    /* then add back a border between rows */
    /* and between columns */
    --ag-cell-horizontal-border: solid #e3e3e3;
  }

  .ag-span {
    border-bottom: 1px solid #e3e3e3;
    @apply font-PTD_Regular text-[13px] bg-white;
  }

  .ag-my-cell {
    @apply font-PTD_Regular text-[13px] bg-white hover:bg-gray-100;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
